*~
*.o
GPATH
GRTAGS
GTAGS
/.deps/*
/autom4te.cache/*
/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/jush
/missing
/stamp-h1
/debian/.debhelper/*
/debian/debhelper-build-stamp
/debian/jush/*
/debian/jush.debhelper.log
/debian/jush.substvars
/debian/files
